
<% @page_title = "Top" %>

<table class="list">
	<tr>
		<th>名前</th>
		<th>住所</th>
		<th>経度</th>
		<th>緯度</th>
	</tr>
	<% @hotels.each do |id| %>
	<tr>
		<td align="right"><%= link_to id.name, id %></td>
		<td><%= id.address %></td>
		<td><%= id.lat %></td>
		<td><%= id.lng %></td>
	</tr>
	<% end %>
</table>

