// Place all the styles related to the helos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #f2f2f2;
}
h1 {
  color: #660000;
  font-weight:bold;
  font-size:1.2em;
  
}
