// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
  color: #ccccc;
  margin: 0; padding:0;
  font-family: Meiryo, sans-serif;
}

a:link { color: #00c; }
a:visited { color: #a08; }
a:hover { color: #ccf; }
a img { border: none; }

div.menubar { 
  background-color: #34abff;
  color: #ffffff;
  width: 1030px;

}
div.menubar td{
  margin: auto;
}
div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: 1030px;
}

div#content {
  float: left;
  width: 700px;
  padding: 10px 10px 10px 0;
}

div#sidebar {
  float: left;
  width: 290px;
  background-color: #f2f2f2;
  padding: 5px;
  font-size: 86%;
}

div#footer {
  float: left;
}

div.menubar a { text-decoration: none; }
div.menubar a:link { color:#ccc; }
div.menubar a:visited { color: #ccc; }

