<div class="hotelName">
	<%= @hotels.name %>
</div>
<div class="summaryWrap">
	<%= image_tag(@hotels.thumbnail, size: "150x150", class: "thumbnail") %>
	<table class="summaryText">
		<tr>
			<th>Review</th><td>8.9/10</td>
		</tr>
		<tr>
			<th>Review</th><td>8.9/10</td>
		</tr>
		<tr>
			<th>Review</th><td>8.9/10</td>
		</tr>
		<tr>
			<th>Review</th><td>8.9/10</td>
		</tr>
	</table>
</div>


<input type="checkbox" id="cb" onClick="cb_changed()" />周辺のホテル
<div id="map-canvas"></div>